<div id="employeEdit">
	
	<div>
		<a onclick="history.back()" class="no-wrap">
			<span class="glyphicon glyphicon-chevron-left backward"></span>
		</a>
	</div>
	<h3><b>Modifier </b></h3>
	
	<form ng-submit="editEmploye()">
		
		<div>
			<button type="submit" class="btn btn-link">
				<span class="glyphicon glyphicon-ok validate"></span>
			</button>
		</div>
		
		<div class="form-group">
			<label for="numero" class="control-label">Numero</label>
			<div>
				<input type="text" ng-model='edit.numero' class="form-control" id="numero" disabled>
			</div>
		</div>
		
		<div class="form-group">
			<label for="nom" class="control-label">Nom</label>
			<div>
				<input type="text" ng-model='edit.nom' class="form-control" id="nom" required>
			</div>
		</div>
		<div class="form-group">
			<label for="adresse" class="control-label">Adresse</label>
			<div>
				<input type="text" ng-model='edit.adresse' class="form-control" id="adresse" required>
			</div>
		</div>
		<div class="form-group">
			<label for="taux" class="control-label">Taux</label>
			<div class="input-group">
				<div class="input-group-addon">Ar.</div>
				<input type='text' ng-model='edit.taux' id='taux' class='form-control' placeholder='Entrer taux' required />
			</div>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="edit.entreprise">
				<option ng-repeat="entreprise in entreprises" value="{{entreprise.numero}}" ng-bind="entreprise.design"></option>
			</select>
		</div>
	</form>
</div>