<div id="travailEdit">
	
	<div>
		<a onclick="history.back()" class="no-wrap">
			<span class="glyphicon glyphicon-chevron-left backward"></span>
		</a>
	</div>
	<h3><b>Modifier </b></h3>
	
	<form ng-submit='editTravail()'>

		<div>
			<button type='submit' class="validate btn btn-link">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</div>

		<div class="form-group">
			<label class='control-label' for="numero">Numero</label>
			<input type="text" ng-model='trav_edit.num_employe' id='numero' class='form-control' placeholder='Entrer numero' disabled />
		</div>
		<div class="form-group">
			<label class='control-label' for="nbheures">Nombre d'heures de travail</label>
			<div class="input-group">
				<input type="text" ng-model='trav_edit.nbheures' id='nbheures' class='form-control' placeholder='Entrer nbre heures de travail' required />
				<div class="input-group-addon">heures</div>
			</div>
		</div>
	</form>
</div>